body {
    background-image: url(image/main_backgroud.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#whole {
    top: 105px;
    left: 20px;
}

.white_box-left {
    background-color: white;
    position: absolute;
    top: 76px;
    height: 775px;
    width: 600px;
    left: 920px;
    border-radius: 10px;
    transition: 2s left;
}

.white_box-right {
    background-color: white;
    position: absolute;
    top: 76px;
    height: 775px;
    width: 600px;
    left: 375px;
    border-radius: 10px;
    transition: 2s left;
    display: none;
}

.hello {
    position: absolute;
    width: 151px;
    height: 36px;
    left: 120px;
    top: 115px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #1D2049;
}

.welcome {
    position: absolute;
    width: 151px;
    height: 36px;
    left: 120px;
    top: 100px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #1D2049;
}

.lol {
    position: absolute;
    width: 319px;
    height: 39px;
    left: 120px;
    top: 190px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #979797;
}

.lol-right {
    position: absolute;
    width: 319px;
    height: 39px;
    left: 120px;
    top: 160px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #979797;
}


/* CSS FOR USER NAME */

.input-field {
    position: absolute;
    top: 250px;
    left: 120px;
    width: 361px;
    height: 63px;
    box-shadow: -1px -1px 4px rgba(0, 83, 255, 0.07), 2px 2px 4px 2px rgba(0, 83, 255, 0.07);
}

.input-field-right {
    position: absolute;
    top: 230px;
    left: 120px;
    width: 361px;
    height: 63px;
    box-shadow: -1px -1px 4px rgba(0, 83, 255, 0.07), 2px 2px 4px 2px rgba(0, 83, 255, 0.07);
}

.input-field-email-right {
    position: absolute;
    margin-top: 330px;
    left: 120px;
    width: 361px;
    height: 63px;
    box-shadow: -1px -1px 4px rgba(0, 83, 255, 0.07), 2px 2px 4px 2px rgba(0, 83, 255, 0.07);
}

.input-field-password {
    position: absolute;
    margin-top: -90px;
    left: 120px;
    width: 361px;
    height: 63px;
    box-shadow: -1px -1px 4px rgba(0, 83, 255, 0.07), 2px 2px 4px 2px rgba(0, 83, 255, 0.07);
}

.input-field-password-right {
    position: absolute;
    margin-top: 430px;
    left: 120px;
    width: 361px;
    height: 63px;
    box-shadow: -1px -1px 4px rgba(0, 83, 255, 0.07), 2px 2px 4px 2px rgba(0, 83, 255, 0.07);
}

#indicator1,
#indicator2,
#indicator3,
#indicator4,
#indicator5 {
    background-color: #0dbde6;
    position: absolute;
    height: 63px;
    width: 5px;
    border-radius: 1px 1px 1px 1px;
    display: none;
}

label {
    position: absolute;
    top: 23px;
    left: 10px;
    width: 120px;
    font-family: 'proxima-nova', sans-serif;
    color: #828283;
    transition: 0.2s all;
    cursor: text;
}

input {
    position: absolute;
    width: 361px;
    height: 63px;
    border-radius: 0px 1px 1px 0px;
    background: #EFF6F9;
    outline: none;
    border: none;
}

input:focus,
input:valid:target {
    border-color: #F9FDFF;
    box-shadow: -1px -1px 4px rgba(0, 83, 255, 0.07), 2px 2px 4px 2px rgba(0, 83, 255, 0.07);
    border-radius: 0px 1px 1px 0px;
}

input:focus~label,
input:valid~label {
    font-size: 12px;
    letter-spacing: 0.08em;
    top: 2px;
    color: #BCBEC0;
}

.input-field-email {
    position: absolute;
    top: 349px;
    left: 120px;
    width: 361px;
    height: 63px;
}

.input-field-password {
    position: relative;
    top: 449px;
    left: 120px;
    width: 361px;
    height: 63px;
}

.button {
    border: none;
    position: absolute;
    width: 361px;
    height: 65px;
    left: 120px;
    top: 470px;
    background: linear-gradient(91.79deg, #186EFF 0%, #6692DD 99.88%);
    box-shadow: 2px 2px 20px rgba(17, 87, 227, 0.07);
    border-radius: 0px 1px 1px 0px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: 'proxima-nova', sans-serif;
}

.button-right {
    border: none;
    position: absolute;
    width: 361px;
    height: 65px;
    left: 120px;
    top: 550px;
    background: linear-gradient(91.79deg, #186EFF 0%, #6692DD 99.88%);
    box-shadow: 2px 2px 20px rgba(17, 87, 227, 0.07);
    border-radius: 0px 1px 1px 0px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: 'proxima-nova', sans-serif;
}

.singup {
    position: relative;
    left: 200px;
    top: 600px;
}

.singin {
    position: relative;
    left: 200px;
    top: 650px;
}

#sign {
    color: #747475;
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
}

#hrf {
    text-decoration: none;
    color: #047fcc;
    font-family: 'proxima-nova', sans-serif;
}

.blue_box {
    background-image: url(image/blue_box.png);
    position: absolute;
    background-size: 100% 100%;
    top: 150px;
    height: 610px;
    width: 630px;
    left: 380px;
    border-radius: 10px;
    transition: 2s left;
}


/* TEXT SLIDER CONTROL

#slider,
ul {
    height: 400px;
}

#slider {
    margin: auto;
    overflow: hidden;
    padding: 10px;
    margin-top: 50px;
    position: relative;
    width: 500px;
    right: 40px;
}

#slider li {
    float: left;
    position: relative;
    width: 600px;
    display: inline-block;
    height: 200px;
}

#slider ul {
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9000px;
    transition: left .2s linear;
    -moz-transition: left .2s linear;
    -o-transition: left .2s linear;
    -webkit-transition: left .2s linear;
    margin-left: -25px;
    font-family: open sans;
    color: #666;
}


/*** Content ***/


/* .slider-container {
    color: #000;
    margin: 0 auto;
    padding: 0;
    width: 550px;
    min-height: 180px;
    top: 100px;
}

.slider-container h2 {
    color: #fff;
}

.slider-container p {
    margin: 40px 25px;
    line-height: 150%;
    font-family: 'proxima-nova', sans-serif;
    font-size: 55px;
    color: #fff;
}

@-webkit-keyframes slide-animation {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    20% {
        left: 0px;
        opacity: 1;
    }
    22.5% {
        opacity: 0.6;
    }
    25% {
        left: -600px;
        opacity: 1;
    }
    45% {
        left: -600px;
        opacity: 1;
    }
    47.5% {
        opacity: 0.6;
    }
    50% {
        left: -1200px;
        opacity: 1;
    }
    70% {
        left: -1200px;
        opacity: 1;
    }
    72.5% {
        opacity: 0.6;
    }
    75% {
        left: -1800px;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    98% {
        left: -1800px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 0;
    }
}

#slider ul {
    -webkit-animation: slide-animation 20s infinite;
}

#slider ul:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

#lore {
    color: #fff;
    font-family: 'proxima-nova', sans-serif;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 20px;
    width: 421px;
} */

.slideshow-container {
    position: relative;
    background: transparent;
    top: 250px;
}


/* Slides */

.mySlides {
    display: none;
    /* padding: 80px; */
    /* text-align: center; */
    /* margin-top: -200px; */
}


/* Next & previous buttons */


/* .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
} */


/* Position the "next button" to the right */


/* .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */


/* .prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
} */


/* The dot/bullet/indicator container */

.dot-container {
    text-align: center;
    padding: 20px;
    /* background: #ddd; */
    margin-top: 400px;
    background: transparent;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    background: #ADC4FF;
    height: 6px;
    width: 13px;
    /* margin: 0 2px; */
    /* background-color: #bbb; */
    border-radius: 14px;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */

.active,
.dot:hover {
    background-color: #717171;
    width: 25px;
    height: 6px;
    border-radius: 14px;
}


/* Add an italic font style to all quotes */

#design {
    font-family: 'proxima-nova', sans-serif;
    font-size: 55px;
    letter-spacing: 0.03em;
    color: #fff;
    margin-top: -120px;
    margin-left: 80px;
    line-height: 120%;
}


/* Add a blue color to the author */

.author {
    width: 421px;
    color: #fff;
    margin-left: 80px;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.01em;
    margin-top: -20px;
}

.bttn {
    background-color: transparent;
    height: 45px;
    border-radius: 3px;
    width: 117px;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.04em;
    margin-left: 80px;
    margin-top: 15px;
    color: white;
    border: 1px solid #fff;
    cursor: pointer;
    text-decoration: none;
    /* display: inline-block; */
    padding-right: 30px;
}

.arrow {
    width: 117px;
    height: 45px;
    margin-left: 175px;
    margin-top: -54px;
    right: 100px;
}

span {
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    letter-spacing: 10px;
    color: #fff;
    cursor: pointer;
}